header{
    background-color: #E4D1B4;
    height: 40px;
    border: 0cm;
}
table{
    width: 1000px;
}
.butt{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: none;
}
.cim{
    margin-top: 15px;
    margin-left: 5px;
    font-size: large;
}
footer{
    background-color: #E4D1B4;
    height: 40px;
    margin-top: 20px;
    border: 0cm;
    

}
.foothertext{
    margin-top:  50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
main{
    margin-left: 1000px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 500px;
    
}
body{
 background-repeat: no-repeat;
 background-size: 1800px;
 
}
.wordbox{
    color: white;
    background-color: rgba(68, 68, 68, 0.7);
}
.idezo{
    font-style: italic;
    text-align: right;
    font-size: 16px;
    color: white;
}
@media only screen and (max-width: 393px ) {
    body {
      background-color: lightblue;
    }
  }
@media only screen and (max-width: 834px ) {
    body {
      background-color: lightblue;
    }
}
