header{
    background-color: #E4D1B4;
    height: 40px;
    border: 0cm;
}
table{
    width: 1000px;
}
.butt{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: none;
}
.cim{
    margin-top: 15px;
    margin-left: 5px;
    font-size: large;
}
footer{
    background-color: #E4D1B4;
    height: 40px;
    border: 0cm;
}
.foothertext{
    margin-top:  20px;
    margin-left: 5px;
    margin-right: 5px;
}
main{
    background-image: (kaveorlo);
    
}
body{
 background-repeat: no-repeat;
 background-size: 1400px;
 
}