.foolal{
X: -19px
Y: 0px
W: 412px
H: 852px
}

.fooldal_szoveg{X: 134px
    Y: 224px
    W: 212px
    H: 109px
    X constraint: Left
    Y constraint: Top
    Font family: Inter
    Font style: Regular
    Font size: 15px
    Line height: 18px
    Line height: 100%
    Align: Left
    Vertical align: Top
    Fill: Solid
    #FFFFFF}